<div class="h-full flex items-stretch py-2 px-3">
  <input
    type="text"
    [value]="config && config.page"
    (change)="onChagePage(pageInput.value)"
    #pageInput
    dir="ltr"
    class="flex-none basis-[4rem] min-w-0 border-1 text-center border-solid border-neutral-200 rounded-md"
  />
  <div class="text-center grow self-center">از {{ totalPages }}</div>
  <button
    class="flex-none basis-[3rem] border-none bg-gray-200 cursor-pointer ml-1 disabled:select-none disabled:opacity-40"
    [disabled]="config && config.page === 1"
    (click)="onClickPrevious()"
  >
    &#9654;
  </button>
  <button
    class="flex-none basis-[3rem] border-none bg-gray-200 cursor-pointer disabled:select-none disabled:opacity-40"
    [disabled]="config && !config.hasNext"
    (click)="onClickNext()"
  >
    &#9664;
  </button>
</div>
