<div
  class="h-screen flex overflow-y-auto justify-center items-center p-4 bg-gray-100"
>
  <div class="bg-white rounded-2xl shadow-md p-10 w-[400px]">
    <h5 class="text-2xl mb-3">تایید</h5>
    <p class="text-sm">کد ارسال شده به تلفن همراه خودتون رو وارد کنید.</p>
    <br />
    <form [formGroup]="form" class="contrary">
      <mat-form-field appearance="outline">
        <mat-label>کد</mat-label>
        <input
          type="text"
          matInput
          placeholder="۱۲۳۴"
          formControlName="code"
          class="always-ltr"
        />
      </mat-form-field>
      <div class="flex items-end justify-between gap-16">
        <button
          mat-flat-button
          color="primary"
          [disabled]="form.invalid || inProgress"
          (click)="login()"
        >
          ورود
        </button>
        <div class="right">
          <div *ngIf="(time | async) !== 0; else sendAgainButton">
            {{ time | async }} <span class="op6">ثانیه</span>
          </div>
          <ng-template #sendAgainButton>
            <button
              mat-flat-button
              [disabled]="inProgress"
              (click)="callOtpAgain()"
              class="w-full"
            >
              ارسال مجدد کد
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
