@import "settings/settings.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    height: $navbar-height;
    @apply bg-white  border-b py-0 px-3 z-10 sticky top-0;
  }
}

@media screen and (min-width: 60em) {
  .header {
    $self: &;

    &--small-screens {
      display: none !important;

      #{$self}__logo {
        justify-content: flex-start;
        margin-right: 0;
      }
    }
  }
}
