<div class="page-choose-files flex">
  <!-- List -->
  <div class="list w-[12.5rem]">
    <div class="list_items p-3 relative overflow-y-auto" #imageList>
      <div
        class="image-wrapper mb-3 relative"
        *ngFor="let image of images; let i = index"
        [class.is-current]="image.isCurrentItem"
        [class.is-selected]="image.selected"
        [id]="image.id"
      >
        <img
          [src]="'./assets/images/saeidifar/' + image.src"
          class="image block cursor-pointer max-w-full max-h-full w-full rounded-sm"
          (click)="onClickImage(image)"
          alt=""
        />

        <div class="image-wrapper_icons flex gap-3">
          <mat-icon
            *ngIf="image.comment.length"
            class="image-warpper_icon image-warpper_icon--comment"
            fontSet="fas"
            fontIcon="fa-comment"
            color="accent"
          ></mat-icon>
        </div>
      </div>
    </div>
    <!-- Pagination -->
    <div class="list_pagination"></div>
  </div>
  <!-- Content -->
  <div class="content border-r bg-gray-100">
    <!-- Slider -->
    <div
      #slider
      class="slider relative p-3 overflow-hidden flex flex-col justify-center items-center"
    >
      <img
        #image
        [src]="'./assets/images/saeidifar/' + currentItem.src"
        class="block mb-3"
        [class.is-selected]="currentItem.selected"
        alt=""
      />

      <!-- Navigators -->
      <div
        class="navigator navigator--left shadow-lg absolute left-0 w-[40px] z-10 bg-white pointer flex flex-col items-center justify-center"
        (click)="onClickNavigationPreviouse()"
      >
        <mat-icon fontSet="fas" fontIcon="fa-chevron-left"></mat-icon>
      </div>
      <div
        class="navigator navigator--right shadow-lg absolute right-0 w-[40px] z-10 bg-white pointer flex flex-col items-center justify-center"
        (click)="onClickNavigationNext()"
      >
        <mat-icon fontSet="fas" fontIcon="fa-chevron-right"></mat-icon>
      </div>
    </div>
    <!-- Toolbar -->
    <div
      class="toolbar border-t py-1 px-3 bg-white flex items-center justify-center"
    >
      <!-- Right -->
      <div fxFlex class="border-l px-3 align-left flex gap-4 justify-end">
        <button
          mat-icon-button
          (click)="toggleSelectedImage()"
          matTooltip="انتخاب کنید"
          color="accent"
        >
          <mat-icon
            [fontSet]="currentItem.selected ? 'fas' : 'far'"
            fontIcon="fa-bookmark"
          ></mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="onClickComment()"
          matTooltip="یادداشت بگذارید"
          [disabled]="!currentItem.selected"
        >
          <mat-icon
            [fontSet]="currentItem.comment.length ? 'fas' : 'far'"
            [color]="currentItem.comment.length ? 'accent' : ''"
            fontIcon="fa-comment"
          ></mat-icon>
        </button>
      </div>
      <!-- Left -->
      <div fxFlex class="px-3 flex gap-4">
        <button
          mat-icon-button
          (click)="onClickDelete()"
          matTooltip="حذف کنید"
          color="warn"
        >
          <mat-icon fontSet="fas" fontIcon="fa-trash-alt"></mat-icon>
        </button>
        <button mat-icon-button (click)="onClickRotate()" matTooltip="بچرخانید">
          <img
            src="assets/images/rotation.png"
            alt=""
            width="24px"
            height="24px"
          />
        </button>
      </div>
    </div>
  </div>
</div>
