<div class="page-choose-files flex flex-row">
  <!-- List -->
  <div class="list basis-[15rem]">
    <div class="list_items p-6 relative overflow-y-auto" #imageList>
      <koodaki-image-list
        [list]="images"
        (clickImage)="onClickImage($event)"
      ></koodaki-image-list>
    </div>
    <!-- Pagination -->
    <div class="list_pagination">
      <koodaki-paginator
        [config]="paginatorConfig"
        (changePage)="onChangePage($event)"
      ></koodaki-paginator>
    </div>
    <!-- Filter -->
    <div class="h-navbar bg-white flex flex-col justify-center">
      <mat-checkbox color="primary" [formControl]="choosenOnesControl">
        انتخاب شده ها
      </mat-checkbox>
    </div>
  </div>
  <!-- Content -->
  <div class="content border-r bg-gray-200 flex-auto">
    <!-- Slider -->
    <div
      #slider
      class="slider relative p-3 overflow-hidden flex flex-col justify-center items-center"
    >
      <img
        #image
        [src]="currentItem && currentItem.url"
        class=""
        [class.is-selected]="currentItem && currentItem.selected"
        alt=""
      />

      <!-- Navigators -->
      <div
        class="navigator navigator--left shadow-lg absolute left-0 w-[40px] z-10 bg-white pointer flex items-center justify-center"
        (click)="onClickNavigationPreviouse()"
      >
        &#9664;
      </div>
      <div
        class="navigator navigator--right shadow-lg absolute right-0 w-[40px] z-10 bg-white pointer flex flex-col items-center justify-center"
        (click)="onClickNavigationNext()"
      >
        &#9654;
      </div>
    </div>
    <!-- Toolbar -->
    <div
      class="toolbar border-t py-1 px-3 bg-white flex items-center justify-center"
    >
      <!-- Right -->
      <div fxFlex class="border-l px-3 align-left flex gap-4 justify-end">
        <button
          mat-icon-button
          (click)="onClickSelect()"
          matTooltip="انتخاب کنید"
          color="accent"
        >
          <mat-icon
            [fontSet]="currentItem && currentItem.selected ? 'fas' : 'far'"
            fontIcon="fa-bookmark"
          ></mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="onClickComment()"
          matTooltip="یادداشت بگذارید"
          [disabled]="!(currentItem && currentItem.selected)"
        >
          <mat-icon
            [color]="
              currentItem && currentItem.comment && currentItem.comment.length
                ? 'accent'
                : ''
            "
            >chat</mat-icon
          >
        </button>
      </div>
      <!-- Left -->
      <div fxFlex class="px-3 flex gap-4">
        <button
          mat-icon-button
          (click)="onClickDelete()"
          matTooltip="حذف کنید"
          color="warn"
        >
          <mat-icon fontSet="fas" fontIcon="fa-trash-alt"></mat-icon>
        </button>
        <button mat-icon-button (click)="onClickRotate()" matTooltip="بچرخانید">
          <img
            src="assets/images/rotation.png"
            alt=""
            width="24px"
            height="24px"
          />
        </button>
      </div>
    </div>
  </div>
</div>
