@import 'settings/settings.scss';

* {
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: $background-forth;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $background-third;
  }
}

// Base root element
html {
  font-size: 16px;
  color: $dark-blue;
  background-color: $background-first;
}

// Bare HTML elements
p,
h6,
h5,
h4,
h3,
h2,
h1,
li,
div,
a,
span,
strong,
table,
th,
tr,
td {
  color: inherit;
}

a {
  text-decoration: none;
  outline: none;
  transition: color 0.3s ease-in-out;
  color: $blue;
  cursor: pointer;

  &:active,
  &:focus {
    color: $text-color;
    outline: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: unset;
}
