@import 'settings/settings.scss';

//#region Button Toggle
.mat-button-toggle-group-appearance-standard {
  border: none !important;

  .mat-button-toggle {
    border: $border;
    border-radius: $border-radius-lg;
    overflow: hidden;

    & + .mat-button-toggle {
      border-left: $border !important;
      margin-left: 30px;
    }

    &.mat-button-toggle-appearance-standard {
      &.mat-button-toggle-checked {
        border-color: transparent !important;
        background-color: $yellow;

        .mat-button-toggle-label-content {
          color: $purple;
        }
      }
    }
  }

  .mat-button-toggle-label-content {
    line-height: 30px !important;
    font-size: $font-size-xs;
    color: $main-grey;
  }
}

//#endregion

//#region Table
.mat-table {
  width: 100%;
  position: relative;
  border-radius: $border-radius-md;

  .mat-header-cell {
    font-weight: 600;

    &:first-child {
      border-top-left-radius: $border-radius-md !important;
    }

    &:last-child {
      border-top-right-radius: $border-radius-md !important;
    }
  }

  .mat-cell,
  .mat-footer-cell {
    font-size: $font-size-sm;
  }

  .row-no-data {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.4;
  }

  mat-row,
  mat-header-row,
  mat-footer-row,
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    border-bottom-color: $border-color;
  }

  tr:last-child td.mat-cell {
    border-bottom: none;
  }

  .mat-row {
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    &:hover {
      background-color: $background-second;
    }
  }
}

//#endregion

//#region Paginator
.mat-paginator-outer-container {
  .mat-paginator-container {
    justify-content: center;
  }
}

.ngx-pagination {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;

  .pagination-next a::after,
  .pagination-next.disabled::after,
  .pagination-previous a::before,
  .pagination-previous.disabled::before {
    font-size: 25px !important;
    margin: 0 !important;
  }
}

//#endregion

//#region BottomSheet
@media screen and (min-width: 600px) {
  .ins-bs-panel {
    max-width: 480px;
  }
}

@media screen and (min-width: 960px) {
  .ins-bs-panel {
    width: 100vw;
    max-width: 600px !important;
  }
}

//#endregion

//#region Button
button.mat-icon-button {
  // line-height: unset;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  // line-height: 30px !important;
}

.mat-icon-button {
  // height: 34px !important;
  // width: 34px !important;
}

//#endregion

//#region mat-form-field
.mat-form-field {
  width: 100%;

  .mat-form-field-infix {
    width: auto;
  }

  &.p0 {
    .mat-form-field-wrapper {
      padding: 0;
    }
  }
}

.mat-form-field-appearance-outline .mat-form-field-prefix {
  top: 0 !important;
}

//#endregion

//#region Dialog
.mat-dialog-content {
  max-height: 70vh !important;

  &:not(.no-border) {
    border-top: $border;
    border-bottom: $border;
  }
}

//#endregion

//#region Divider
.mat-divider {
  border-top-color: $border-color;
}

//#endregion

//#region mat-form-field
.mat-form-field {
  font-size: 14px !important;
}

.mat-form-field-wrapper {
  padding-bottom: 1em;
  margin: 0;
}

//#endregion

//#region ngx-mat-intl-tel-input
.input--cellphone {
  .country-selector {
    height: 50px !important;
    top: -8px !important;
    width: auto !important;
    opacity: 1 !important;

    .mat-button-wrapper {
      margin-right: 16px !important;
    }

    &:hover:not(.mat-button-disabled) .mat-button-focus-overlay {
      opacity: 0;
    }
  }
}

//#endregion

//#region Menu
.mat-menu-item {
  font-size: $font-size-sm;
}

.mat-menu-content {
  padding: 0 !important;
}

.mat-menu-panel {
  min-height: 0 !important;
}

//#endregion

//#region Icon
.mat-icon {
  &--xs {
    font-size: 15px !important;
    width: 15px !important;
    height: 15px !important;
  }

  &--sm {
    font-size: 18px !important;
  }

  &--lg {
    font-size: 32px !important;
    width: 32px !important;
    height: 32px !important;
  }

  &--xl {
    font-size: 48px !important;
    width: 48px !important;
    height: 48px !important;
  }
}

//#endregion

//#region Snackbar
.mat-snack-bar-container[class*='ins-snackbar'] {
  padding: 10px 12px;
  min-height: auto;
  max-width: 400px;

  simple-snack-bar {
    font-size: 15px;
  }
}

//#endregion

//#region Font Family
.mat-dialog-title,
.mat-tooltip {
  font-family: 'iranSans' !important;
}
//#endregion
