<div
  class="h-screen flex flex-col items-center justify-center overflow-y-auto bg-gray-100"
>
  <div class="bg-forth rounded-md shadow-md p-10 container--xs bg-white">
    <img
      src="assets/images/logo-koodaki.png"
      width="120px"
      class="block mxa"
      alt=""
    />
    <h3 class="primary center sign-in_title">استودیو کودکی</h3>

    <h5>ورود به پنل کاربری</h5>
    <p class="fs-sm">سلام!</p>
    <p class="fs-sm">لطفا شماره موبایل خودتون رو وارد کنید.</p>
    <br />
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>شماره موبایل</mat-label>
        <input
          matInput
          placeholder="۰۹۱۲*******"
          formControlName="username"
          required
          class="left"
          dir="ltr"
        />
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid && inProgress"
        class="block w-full"
        type="submit"
        (click)="continue()"
      >
        ادامه
      </button>
    </form>
  </div>
</div>
