<div
  class="h-screen flex overflow-y-auto justify-center items-center p-10 bg-white bg-gray-100"
>
  <div class="bg-white rounded-2xl shadow-md p-10 w-[400px]">
    <img
      src="assets/images/logo-koodakistudio.png"
      width="120px"
      height="95px"
      class="block mx-auto"
      alt=""
    />
    <h1 class="mb-3 mt-5">استودیو کودکی</h1>
    <h3 class="text-xl mb-3 mt-10">ورود</h3>
    <p class="text-sm">لطفا شماره موبایل خودتون رو وارد کنید.</p>
    <br />
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <mat-label>شماره موبایل</mat-label>
        <input
          matInput
          placeholder="۰۹۱۲*******"
          formControlName="username"
          required
          class="left"
          dir="ltr"
        />
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        [disabled]="form.invalid || inProgress"
        class="block w-full"
        type="submit"
        (click)="continue()"
      >
        ادامه
      </button>
    </form>
  </div>
</div>
