// Colors
$primary: var(--primary);
$accent: var(--accent);
$red: var(--red);
$warn: var(--red);
$blue: var(--blue);
$light-blue: var(--light-blue);
$dark-blue: var(--dark-blue);
$green: var(--green);
$orange: var(--orange);
$grey: var(--grey);
$main-grey: var(--main-grey);
$main-grey-2: var(--main-grey-2);
$yellow: var(--yellow);
$light-yellow: var(--light-yellow);
$purple: var(--purple);
$light-purple: var(--light-purple);
$gold: var(--gold);

// Text Colors
$title-color: var(--title-color);
$text-color: var(--text-color);

// Background Colors
$background-first: var(--background-first);
$background-second: var(--background-second);
$background-third: var(--background-third);
$background-forth: var(--background-forth);
$background-shimmer-1: $background-second;
$background-shimmer-2: $background-first;

// Border Colors
$border-color: var(--border-color);
