// Layout
$navbar-height: 40px;
$sidenav-width: 240px;

// Gap
$gap-lg: 20px;
$gap-sm: 16px;
$gap-sm: 12px;
$gap: $gap-sm;

// PDF
$pdf-width: 794px;
$pdf-height: 1123px;
$pdf-header-height: 120px;
$pdf-header-short-height: 40px;
$pdf-footer-height: 40px;
