<div class="main-layout overflow-y-auto h-screen">
  <koodaki-dashboard-header (hamburgerClick)="toggleSidenav()">
    <div class="grow flex items-center" content>
      <ng-container *ngFor="let item of menuItems">
        <button
          mat-menu-item
          [routerLink]="'/' + item.link"
          [routerLinkActiveOptions]="{ exact: false }"
          routerLinkActive="menu-item--active"
          class="py-2 px-4 ml-2"
        >
          <mat-icon
            *ngIf="item.icon"
            fontSet="fas"
            [fontIcon]="item.icon"
            class="align-middle ml-2"
          >
          </mat-icon>
          <span class="menu-item_title">{{ item.textToken }}</span>
        </button>
      </ng-container>
      <div class="grow"></div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onClickLogout()">
          <mat-icon color="warn">logout</mat-icon>
          <span>خروج</span>
        </button>
      </mat-menu>
    </div>
  </koodaki-dashboard-header>
  <section>
    <router-outlet></router-outlet>
  </section>
</div>
