@import 'settings/settings.scss';

.main-layout {
  height: 100vh;
  overflow-y: auto;
  background: $background-forth;

  mat-toolbar {
    height: $navbar-height;
  }
}

.mat-drawer-side {
  border-left: $border;
  width: $sidenav-width;
}

button[mat-menu-item] {
  // background-color: $background-second;
  background-color: transparent;
  height: $navbar-height;
  position: relative;
  &.menu-item--active {
    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   display: block;
    //   width: 100%;
    //   height: 2px;
    //   background-color: $yellow;
    // }
    // border-top: 2px solid $yellow;
    .mat-icon {
      color: $yellow;
    }
    > span {
      font-weight: bold;
    }
  }
}
