<div class="w-[16rem] box p-1 rounded-md flex flex-col shadow-md">
  <img src="assets/images/babaki/DSC_4750 copy.jpg" class="w-full rounded-md" />
  <div class="p-2">
    <p class="mb-1 inline-block text-white bg-green-500 rounded-lg px-2">
      فعال
    </p>
    <p class="mb-5 mt-3">
      <span class="fw-bold">لوکیشن: </span>
      <span>باغ گیاهان</span>
    </p>
    <h5 class="mb-0">
      ۴۳۲
      <span class="align-middle">تصویر گرفته شده</span>
    </h5>
    <h5 class="mb-0">
      ۸

      <span class="text-sm middle">انتخاب شده</span>
    </h5>

    <button
      class="mt-6 w-full"
      mat-flat-button
      color="primary"
      routerLink="/panel/projects/fdfsdfsdf/files"
    >
      انتخاب تصاویر منتخب
    </button>
  </div>
</div>
