<div class="project-card box p4 br-md flex flex-column">
  <img
    src="assets/images/babaki/DSC_4750 copy.jpg"
    class="width-100 br-sm"
    alt=""
  />
  <div class="p8">
    <p class="green mb4">فعال</p>
    <p class="mb20">
      <span class="fw-bold">لوکیشن: </span>
      <span>باغ گیاهان</span>
    </p>
    <h5 class="mb0">
      ۴۳۲

      <span class="fs-sm middle">تصویر گرفته شده</span>
    </h5>
    <h5 class="mb0">
      ۸

      <span class="fs-sm middle">انتخاب شده</span>
    </h5>

    <button
      class="mt24 width-100"
      mat-flat-button
      color="primary"
      routerLink="/panel/projects/fdfsdfsdf/files"
    >
      انتخاب تصاویر منتخب
    </button>
  </div>
</div>
