@use "@angular/material" as mat;

$material-primary-color: (
  50: #e0f9f5,
  100: #b3f0e6,
  200: #80e7d6,
  300: #4dddc5,
  400: #26d5b8,
  500: #00ceac,
  600: #00c9a5,
  700: #00c29b,
  800: #00bc92,
  900: #00b082,
  A100: #dafff4,
  A200: #a7ffe4,
  A400: #74ffd5,
  A700: #5affcd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$material-accent-color: (
  50: #fff5f0,
  100: #ffe6da,
  200: #ffd5c2,
  300: #ffc4aa,
  400: #ffb897,
  500: #ffab85,
  600: #ffa47d,
  700: #ff9a72,
  800: #ff9168,
  900: #ff8055,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fffbfa,
  A700: #ffe8e0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$material-warn-color: (
  50: #ffe5e8,
  100: #ffbdc6,
  200: #ff91a0,
  300: #ff6579,
  400: #ff445d,
  500: #ff2340,
  600: #ff1f3a,
  700: #ff1a32,
  800: #ff152a,
  900: #ff0c1c,
  A100: #ffffff,
  A200: #fff6f6,
  A400: #ffc3c6,
  A700: #ffa9ad,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

@include mat.core();

$material-koodaki-app-primary: mat.define-palette($material-primary-color);
$material-koodaki-app-accent: mat.define-palette($material-accent-color);
$material-koodaki-app-warn: mat.define-palette($material-warn-color);

$koodaki-theme: mat.define-light-theme(
  (
    color: (
      primary: $material-koodaki-app-primary,
      accent: $material-koodaki-app-accent,
      warn: $material-koodaki-app-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
$more-dense: mat.define-light-theme(
  (
    density: -2,
  )
);

@include mat.all-component-themes($koodaki-theme);
@include mat.form-field-theme($more-dense);
@include mat.icon-theme($more-dense);
@include mat.icon-button-theme($more-dense);
