@use "@angular/material" as mat;
@include mat.core();

$material-primary-color: (
  50: #faefeb,
  100: #f3d7ce,
  200: #ecbcad,
  300: #e4a18c,
  400: #de8d73,
  500: #d8795a,
  600: #d47152,
  700: #ce6648,
  800: #c85c3f,
  900: #bf492e,
  A100: #ffffff,
  A200: #ffd7ce,
  A400: #ffad9b,
  A700: #ff9782,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$material-accent-color: (
  50: #edf6f4,
  100: #d2e9e4,
  200: #b4dad3,
  300: #96cbc1,
  400: #80c0b3,
  500: #69b5a6,
  600: #61ae9e,
  700: #56a595,
  800: #4c9d8b,
  900: #3b8d7b,
  A100: #defff7,
  A200: #abffeb,
  A400: #78ffdf,
  A700: #5effd9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$material-warn-color: (
  50: #ffe2e5,
  100: #ffb6bf,
  200: #ff8595,
  300: #ff546a,
  400: #ff2f4a,
  500: #ff0a2a,
  600: #ff0925,
  700: #ff071f,
  800: #ff0519,
  900: #ff030f,
  A100: #ffffff,
  A200: #fff2f3,
  A400: #ffbfc1,
  A700: #ffa6a8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

@include mat.core();

$material-koodaki-app-primary: mat.define-palette($material-primary-color);
$material-koodaki-app-accent: mat.define-palette($material-accent-color);
$material-koodaki-app-warn: mat.define-palette($material-warn-color);

$koodaki-theme: mat.define-light-theme(
  (
    color: (
      primary: $material-koodaki-app-primary,
      accent: $material-koodaki-app-accent,
      warn: $material-koodaki-app-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
$form-field-theme: mat.define-light-theme(
  (
    density: -2,
  )
);

@include mat.all-component-themes($koodaki-theme);
@include mat.form-field-theme($form-field-theme);
