@use "@angular/material" as mat;

$material-primary-color: (
  50: #fff6f1,
  100: #ffe7dd,
  200: #ffd8c6,
  300: #ffc8af,
  400: #ffbc9d,
  500: #ffb08c,
  600: #ffa984,
  700: #ffa079,
  800: #ff976f,
  900: #ff875c,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffede6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$material-accent-color: (
  50: #f5fefc,
  100: #e6fdf9,
  200: #d6fcf5,
  300: #c6faf0,
  400: #b9f9ed,
  500: #adf8ea,
  600: #a6f7e7,
  700: #9cf6e4,
  800: #93f5e1,
  900: #83f3db,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #fdffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$material-warn-color: (
  50: #ffe1e1,
  100: #ffb5b5,
  200: #ff8484,
  300: #ff5353,
  400: #ff2e2e,
  500: #ff0909,
  600: #ff0808,
  700: #ff0606,
  800: #ff0505,
  900: #ff0202,
  A100: #ffffff,
  A200: #fff2f2,
  A400: #ffbfbf,
  A700: #ffa6a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

@include mat.core();

$material-koodaki-app-primary: mat.define-palette($material-primary-color);
$material-koodaki-app-accent: mat.define-palette($material-accent-color);
$material-koodaki-app-warn: mat.define-palette($material-warn-color);

$koodaki-theme: mat.define-light-theme(
  (
    color: (
      primary: $material-koodaki-app-primary,
      accent: $material-koodaki-app-accent,
      warn: $material-koodaki-app-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
$more-dense: mat.define-light-theme(
  (
    density: -2,
  )
);

@include mat.all-component-themes($koodaki-theme);
@include mat.form-field-theme($more-dense);
@include mat.icon-theme($more-dense);
@include mat.icon-button-theme($more-dense);
