html {
  // Colors
  --primary: #d8795a;
  --red: #d56565;
  --blue: #6992b5;
  --light-blue: #e9f7fb;
  --green: #69b5a6;
  --orange: #d5723e;
  --grey: #dedede;
  --main-grey: #7c797a;
  --main-grey-2: #c6c4c5;
  --yellow: #dfc44d;
  --light-yellow: #fff8e7;
  --light-purple: rgba(57, 35, 150, 0.2);
  --gold: #9c8400;

  // Text
  --title-color: #1a1a1a;
  --text-color: #333;

  // Background Colors
  --background-first: #f5f6f7;
  --background-second: #f2f2f2;
  --background-third: #dedede;
  --background-forth: white;

  // Border Colors
  --border-color: #ededed;
}
